<br>
<div class="center hero-unit">
  <h1>Estado del sistema</h1>

  <h2>
    Aquí se muestra un resumen de los datos guardados hasta el momento en el sistema.
  </h2>


</div>
<br>
<br>
<br>
<br>


<aside class="span3 offset1" >
  	  	<section style="border: 1px solid">
  		<div class="panel panel-default">
  			<div class="panel-heading">
    			<h2 class="panel-title">Usuarios registrados</h2>
  			</div>
  			<div class="panel-body">
    			<span style="text-align:center"><h3 stlye="align:center"><%= User.count %><h3></span>
  			</div>
		</div>
  	</section>
  </aside>

   <aside class="span3">
  	  	<section style="border: 1px solid">
  		<div class="panel panel-default">
  			<div class="panel-heading">
    			<h2 class="panel-title">Clientes registrados</h2>
  			</div>
  			<div class="panel-body">
    			<span style="text-align:center"><h3 stlye="align:center"><%= Client.count %><h3></span>
  			</div>
		</div>
  	</section>
  	
  </aside>

   <aside class="span3">
  	  	<section style="border: 1px solid">
  		<div class="panel panel-default">
  			<div class="panel-heading">
    			<h2 class="panel-title">Solicitudes generadas</h2>
  			</div>
  			<div class="panel-body">
    			<span style="text-align:center"><h3 stlye="align:center"><%= Request.count %><h3></span>
  			</div>
		</div>
  	</section>
  </aside>


<br>
<br>
<br>
<br>
<br>
<br>
<br>

