<% provide(:title, 'Usuarios') %>
<h1>Usuarios registrados</h1>

<%= link_to "Crear usuario", new_user_path, class: "btn btn-large btn-primary"  %>
<br>
<br>
<br>

<%= will_paginate %>

<ul class="users">
  <%= render @users %>
</ul>

<%= will_paginate %>