<% provide(:title, 'Clientes') %>
<h1>Clientes registrados</h1>

<%= link_to "Crear cliente", new_client_path, class: "btn btn-large btn-primary"  %>

<%= will_paginate %>

<ul class="users">
  <%= render @clients %>
</ul>

<%= will_paginate %>