<% provide(:title, 'Solicitudes') %>
<h1>Solicitudes registradas</h1>

<%= link_to "Crear solicitud", new_request_path, class: "btn btn-large btn-primary" %>

<%= will_paginate %>

<ul class="users">
  <%= render @requests %>
</ul>

<%= will_paginate %>