<% provide(:title, 'Solicitud Nº '+@request.id.to_s) %>

<h1>Información de la Solicitud</h1>

<div class="row">
  <aside class="span8">
    <section>
      <h2>Solicitud Nº<%= @request.id %></h2>
      <br>
      <br>
      

    </section>
  </aside>
</div>