<footer class="footer">
  <small>
    <a href="http://railstutorial.org/">counseling_app</a>
    by Alejandro Guerrero
  </small>
  <nav>
    <ul>
      <li><%= link_to "Acerca de...",   about_path %></li>
      <li><%= link_to "Contacto", contact_path %></li>
      <li><a href="http://news.railstutorial.org/">Noticias</a></li>
    </ul>
  </nav>
</footer>